@charset "utf-8";

.flex-col-area {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.alert-danger {
  list-style: none;
}

ul {
  list-style: none;
}

ul.alert {
  color:  red;
}

.search {
  text-align: right;
}

/* 新規記事投稿ボタン */
.post-button {
  display       : inline-block;
  border-radius : 11%;          /* 角丸       */
  font-size     : 18pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 4px 16px;   /* 余白       */
  background    : rgba(153, 153, 255, 0.55);     /* 背景色     */
  color         : #000000;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 7px 7px 13px #666666;  /* 影の設定 */
  border        : 2px solid rgba(153, 153, 255, 0.55);    /* 枠の指定 */
}
.post-button:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : rgba(153, 153, 255, 0.55);     /* 背景色     */
  background    : #000000;     /* 文字色     */
}

/* ログインボタン */
.login-button {
  position: relative;
  padding: 0.35em 0.7em 0.2em;
  background: #668ad8;
  color: #FFF;
  text-decoration: none;
}
.login-button:before {
  content: '';
  position: absolute;
  z-index: -2;
  height: 10px;
  box-sizing: border-box;
  width: 100%;
  top: 100%;
  top: calc(100% - 2px);
  left: 0;
  background: linear-gradient(-135deg, #668ad8 4px, transparent 0) 0 4px,
              linear-gradient(135deg, #668ad8 4px, #fff 0) 0 4px;
  background-color: #668ad8;
  background-position: left bottom;
  background-repeat: repeat-x;
  background-size: 10px 10px;
  transition: .2s;
}
.login-button:hover:before {
  background-size: 13px 10px;
}
/* イイネ */
.btn-bad-link {
  display: inline-block;
  text-decoration: none;
  background:#fd87ed;
  color: #FFF;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  transition: .4s;
}

.btn-circle-flat:hover {
  background:#d8669f;
}

.btn-good-link {
  display: inline-block;
  text-decoration: none;
  background:#fd87ed;
  color: #FFF;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  transition: .4s;
}

.btn-circle-flat:hover {
  background:#d8669f;
}